.reg-form {
    display: flex;
    flex-direction: column;

}


/* Загальні стилі для форми */
form {
    max-width: 400px;
    margin: 5px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }

  
  /* Адаптивні стилі для елементів форми на екранах шириною до 600px */
  @media screen and (max-width: 600px) {
    form {
      max-width: 100%;
    }
  }
  
  /* Стилі для міток та інпутів */
  label {
    display: block;
    margin-bottom: 5px;
  }
  
  input {
    width: 100%;
    margin-top: 5vw;
    box-sizing: border-box;
  }
  
  /* Стилі для кнопки подання */
  button {
    background-color: #4caf50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Адаптивні стилі для кнопки подання на екранах шириною до 600px */
  @media screen and (max-width: 600px) {
    button {
      width: 100%;
    }
  }

/* Приховати стрілки вводу у полях типу "number" */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
.error-msg {
  color: red;
  margin: 10px 0;
}
.no-error {
  display: none;
}
.form-input {
  width: 100%;
}
.form-div {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  min-width: 0;
  padding: 0;
  margin: 10px 0;
  border: 0;
  vertical-align: top;
}
.btn-group {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
  border-top: 1px solid #ddd;
  padding-top: 10px;
}
